<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.hms.maps.test_harmody">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.huawei.hms.maps.test_harmody.CircleDemoActivity"
            android:label="CircleDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.ControlsDemoActivity"
            android:label="ControlsDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.GestureDemoActivity"
            android:label="GestureDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.GroundOverlayDemoActivity"
            android:label="GroundOverlayDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.LiteModeDemoActivity"
            android:label="LiteModeDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MapFunctionsDemoActivity"
            android:label="MapFunctions"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MoreLanguageDemoActivity"
            android:label="MoreLanguageDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.PolygonDemoActivity"
            android:label="PolygonDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.PolylineDemoActivity"
            android:label="PolylineDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.LocationSourceDemoActivity"
            android:label="LocationSourceDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MarkerDemoActivity"
            android:label="MarkerDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MarkerClusteringDemoActivity"
            android:label="MarkerClusteringDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.CameraDemoActivity"
            android:label="CameraDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.BasicMapDemoActivity"
            android:label="BasicMapDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MapFragmentDemoActivity"
            android:label="MapFragmentDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MapViewDemoActivity"
            android:label="MapViewDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.SupportMapDemoActivity"
            android:label="SupportMapDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.SupportMapCodeDemoActivity"
            android:label="SupportMapCodeDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MapViewCodeDemoActivity"
            android:label="MapViewCodeDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MapFragmentCodeDemoActivity"
            android:label="MapFragmentCodeDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.StyleMapDemoActivity"
            android:label="StyleMapDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.EventsDemoActivity"
            android:label="EventsDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.RoutePlanningDemoActivity"
            android:label="RoutePlanningDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.HeatMapDemoActivity"
            android:label="HeatMapDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.TrafficDemoActivity"
            android:label="TrafficDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.DarkModeDemoActivity"
            android:label="DarkModeDemo"
            android:exported="false" />

        <activity
            android:name="com.huawei.hms.maps.test_harmody.MyLocationStyleDemoActivity"
            android:label="MyLocationStyleDemo"
            android:exported="false" />

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />

        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=appid" />

    </application>

</manifest>